<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <p class="my-auto">&copy; 2024 Thomas Basadonne</p>
    <div>
      <a href="#" class="link-underline text-decoration-none text-dark"
        >Random Travel</a
      >
      <a
        routerLink="/travel-feed"
        routerLinkActive="border-bottom border-info"
        ariaCurrentWhenActive="page"
        class="link-underline text-decoration-none mx-2 text-dark"
        >Home</a
      >
      <a
        routerLink="/dashboard"
        routerLinkActive="border-bottom border-info"
        ariaCurrentWhenActive="page"
        class="link-underline text-decoration-none mx-2 text-dark"
        >Login</a
      >
    </div>
  </div>
</nav>
