<div class="card" style="width: 18rem">
  <img
    [src]="travel.imagePath"
    class="card-img-top img-fluid"
    alt="{{ travel.place }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ travel.place }}</h5>
    <p class="card-text">
      {{ travel.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ travel.duration }} giorni</li>
    <li class="list-group-item">
      {{ travel.startDate | date : "mediumDate" }}
    </li>
    <li class="list-group-item">
      {{ travel.endDate | date : "mediumDate" }}
    </li>
    <li class="list-group-item">
      {{ travel.traveler }}
    </li>
  </ul>
  <div class="card-body">
    <!-- <button
      type="button"
      class="btn btn-info text-white"
      routerLink="/travel-detail"
      (click)="onSelected()"
    >
      Info
    </button> -->
  </div>
</div>
